/* Make the splash container cover the entire screen and center its child */
.splash {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.75s ease-in;
}
.image-wrapper {
  animation: slide-in 2s ease-out forwards;
}
/* Create a slide-in animation */
@keyframes slide-in {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
/* Apply the animation to the splash image */
.splash-image {
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
  object-fit: contain;
  transform: rotate(-2deg);
  transition: transform .25s ease-in-out;
}
/* Define the animation */
@keyframes rotate-ping-pong {
  0% {
    transform: rotate(-2deg);
    /*    animation-timing-function: ease-out;*/
  }
  100% {
    transform: rotate(2deg);
    /*    animation-timing-function: ease-out;*/
  }
}
/* Apply the animation on hover */
.splash-image:hover {
  transform: rotate(2deg);
  /*    animation: rotate-ping-pong .25s ease-in-out infinite alternate;*/
}
.splash-image:active {
  transform: scale(1.05);
  /*    animation: rotate-ping-pong .25s ease-in-out infinite alternate;*/
}
#splashwrapper {
  top: 0px;
  margin: auto;
  transition: transform 2s ease-in-out;
}
.hiddenbelow {
  /*    display: none;*/
  position: fixed;
  transform: translateY(100vh);
}
.hiddenabove {
  transform: translateY(-100vh);
}
html {
  overflow-y: scroll;
}
@font-face {
  font-family: "Lato";
  src: url("/Lato/Lato-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Lato";
  src: url("/Lato/Lato-Light.ttf");
  font-weight: 300;
}
a {
  color: black;
}
body {
  font-family: "Lato", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 300;
  text-align: center;
  /*
    display: flex;
    justify-content: center;
    align-content: flex-start;
*/
}
#wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
    width: calc((0.177 * 100vw) + 318.88px);
/*
  width: 60%;
  max-width: 980px;
*/
  /*    width:980px;*/
}
#banner {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
  flex-wrap: no-wrap;
  justify-content: space-between;
}
#banner #bannertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  /* [disabled]flex-grow: 1; */
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
#name {
  /*    font-size: 164px;*/
  font-size: clamp(1px, 9.8vw, 170px);
  line-height: 0.9;
}
#titles {
  /*    font-size: 79px;*/
  font-size: clamp(1px, 4.7vw, 84px);
}
.andyframe {
  width: 14%;
}
.andy {
  width: 100%;
  /* [disabled]height: 349px; */
  /* [disabled]max-height: 100%; */
  max-width: 138px;
  object-fit: contain;
  font-size: medium;
}
.flipped {
  transform: scaleX(-1);
}
.menu {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0px, 2.5vw, 35px);
  text-shadow: 0px 0px;
  color: #000000;
  width: 100%;
}
.menu a {
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Position the dropdown right below the dropdown button */
  left: -15px; /* Align the dropdown to the left edge of the dropdown button */
  text-align: left;
  font-size: 0.8em;
}
.dropdown-content a {
  color: black;
  padding-left: 16px;
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
  padding-right: 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#title {
    font-size: clamp(1em, 5vw, 3rem);
    margin-bottom: 40px;
    margin-top: 40px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-family: "Lato", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 300;
  /* [disabled]padding-right: 11%; */
  /* [disabled]padding-left: 11%; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade {
  animation: fadeIn 1s;
}
.fade-out {
  animation: fadeOut 1s;
}
.cell {
  width: 49%;
  margin-top: 5px;
}
.cell.wide {
  width: 100%;
}
.cell.vertical {
  width: 32%;
}
.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 5px;
  /* padding-top: 177.77%; for 9:16 aspect ratio */
}
.video-container.scope {
  padding-top: 41.66%;
}
.video-container.vertical {
  padding-top: 177.77%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
  cursor: pointer;
}
/*
.video-poster:hover{
    display: none;
}
*/
img {
  width: 100%;
}
.verticalimg {
  /* [disabled]width: 50px; */
}
footer {
  margin-top: 1em;
}
#about img {
  border: 1px solid black;
  width: 50%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: block;
}
#about {
    width: 67%;
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.bio {
  text-align: justify;
  text-indent: 40px;
}
.hiddenAndy {
  display: none;
  width: 15%;
  margin: 0 auto;
}
@media (max-width:980px) {
/*
  #wrapper {
    width: 90%;
  }
  .cell {
    width: 100%;
  }
  .cell.vertical {
    width: 48%;
  }
*/
  #about img {
    width: 75%;
  }
  #name {
    /*    font-size: 164px;*/
    font-size: 20vw;
  }
  #titles {
    /*    font-size: 79px;*/
    font-size: 9.9vw;
  }
  .menu {
    font-size: 5vw;
  }
  .andyframe {
    display: none;
  }
  .hiddenAndy {
    display: block;
  }
#about {
    width: 90%;
}

}
